grant codeBase "file:out${/}-" {
  //Socket
  permission java.net.SocketPermission "*:23456", "connect, resolve";

  //Runtime
  permission java.lang.RuntimePermission "exitVM.*";

  //Files
  permission java.io.FilePermission ".${/}*", "read";
  permission java.io.FilePermission ".${/}*", "write";
};