grant codeBase "file:bin${/}-" {
  //Socket
  permission java.net.SocketPermission "*:23456", "connect, resolve";

  //Runtime
  permission java.lang.RuntimePermission "exitVM.*";

  //Files
  permission java.io.FilePermission "<<ALL FILES>>", "read";
  permission java.io.FilePermission ".${/}*", "write";
};