grant codeBase "file:out${/}production${/}Seguranca_1${/}-" {

  //Socket
  permission java.net.SocketPermission "127.0.0.1:23456", "listen, resolve";
  permission java.net.SocketPermission "*:23456", "connect";
  permission java.net.SocketPermission "*:*", "accept, resolve";

  //Runtime
  permission java.lang.RuntimePermission "stopThread";
  permission java.lang.RuntimePermission "exitVM.*";

  //Files
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.io.FilePermission ".${/}DATABASE", "read, write";
  permission java.io.FilePermission ".${/}DATABASE/USERS", "read, write";
  permission java.io.FilePermission ".${/}DATABASE/GROUPS", "read, write";

  permission java.io.FilePermission ".${/}DATABASE/CONVERSATIONS", "read, write";
  permission java.io.FilePermission ".${/}DATABASE/CONVERSATIONS/INDEX", "read, write";

  permission java.io.FilePermission ".${/}DATABASE/CONVERSATIONS/PRIVATE", "read, write";
  permission java.io.FilePermission ".${/}DATABASE/CONVERSATIONS/PRIVATE/-", "read, write";

  permission java.io.FilePermission "DATABASE/CONVERSATIONS/GROUP", "read, write";
  permission java.io.FilePermission "DATABASE/CONVERSATIONS/GROUP/-", "read, write, delete";

  permission java.io.FilePermission ".${/}DATABASE/CONVERSATIONS/GROUP", "read, write";
  permission java.io.FilePermission ".${/}DATABASE/CONVERSATIONS/GROUP/-", "read, write";

  permission java.util.PropertyPermission "user.dir", "read";
};